<% content_for :page_title, 'Contact Custom Sands Motorsports' %>
<div class="container">
	<div class="col-md-8 col-xs-12">
		<div class="Flexible-container">
    		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=custom+sands+motorsports&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=39.371738,86.572266&amp;ie=UTF8&amp;hq=custom+sands+motorsports&amp;hnear=&amp;t=m&amp;ll=37.125406,-113.603868&amp;spn=0.005133,0.006437&amp;z=16&amp;output=embed"></iframe>
		</div>
	</div>

	<div class="col-md-4 col-xs-12">
		<h3>	Custom Sands Motorpsorts
			</br>
			988 west Sunset Blvd #9
			</br>
			Hours: M-F 9am-5pm
			</br>
			435-674-0808
		</h3>
	</div>
</div>
