<% content_for :page_title, 'Custom Sands Motorsports' %>

<div class="container-fluid">
 <div class="row">
   <img class="center-block img-responsive" src="/assets/csm.png" width="360px"  alt="Custom sands motorsports logo">
   </br>
   </br>
   <div class="col-lg-10 col-lg-offset-1">
     <p id="intro">Custom Sands Motorpsorts has been serving St. George Utah for 15 years. We exceed in servicing and
       repairing ATV , UTV, motorcylces, and watercraft. Specializing in custom engine building, all porting and
       engine work is done in house so you dont have to worry about where or who has your parts.
       At Custom Sands Motorsports we aim to please our customers with
       every aspect of your build or service. Call us Today at 435-674-0808 so we can get started
       on your build.</p>
   </div>
 </div>
 </br>
 </br>

 <div class="row">
   <div class="callout-bubble text-center fade-in-b">
     <h1>Online Discount - <b>10% OFF</b> </h1>
     <p>Mention this website or print coupon and recieve a discount!</p>
     <%= link_to 'Claim Coupon', discount_path , class: 'btn btn-warning' , role: 'button' %>
   </div>
 </div>


</div>
