<% content_for :page_title, 'Services provided by Custom Sands Motorsports' %>

<div class="text-center">
		<h1> Custom Sands Motorsports provided services </h1>
		<br />
</div>
<div class="container-fluid service">

		<div class="row booyah-box col-xs-10 col-xs-offset-1">
			<div  class="col-xs-12 col-sm-6">
				<img class="img-responsive" src="assets/images/stockatv.jpg">
			</div>
			<div class="col-xs-12 col-sm-6">
				<h2> ATV and Dirtbike Services </h2>
				<ul><strong>Basic Service</strong>
					<li>Oil Change with new filter</li>
					<li>Air Filter Cleaning , Replaced if needed</li>
					<li>Chain Lube</li>
				</ul>

				<ul><strong>Full Service</strong>
					<li>Basic Service Plus
						<ul>
							<li>Check and top off all fluids</li>
							<li>Check Drive system</li>
							<li>Check Differential and top off</li>
							<li>Wash machine and undercarriage</li>
							<li>Grease all Zerk Fittings</li>
							<li>Check Headlights and Tailights for proper operation</li>
						</ul>
					</li>


				</ul>
			</div>
		</div>

		<br />

		<div class="row booyah-box col-xs-10 col-xs-offset-1">
			<div  class="col-xs-12 col-sm-6">
				<img class="img-responsive" src="assets/images/stockjetski.jpg">
			</div>
			<div class="col-xs-12 col-sm-6">
				<h2> Watercraft Services </h2>
				<ul>
					<li>Check all Fluids</li>
					<li>Clean and Service Air Filter</li>
					<li>Check and measure wear on Impellers</li>
					<li>Complete Wash</li>
					<li>Winterizing and Summarizing</li>
				</ul>
			</div>
		</div>

		<br />

		<div class="row booyah-box col-xs-10 col-xs-offset-1">
			<div  class="col-xs-12 col-sm-6">
				<img class="img-responsive" src="assets/images/stockmotorcycle.jpg">
			</div>
			<div class="col-xs-12 col-sm-6">
				<h2> Motorcycle Services </h2>
				<ul><strong>Basic Service</strong>
					<li>Oil Change with new filter</li>
					<li>Air Filter Cleaning , Replaced if needed</li>
					<li>Chain Lube</li>
				</ul>

				<ul><strong>Full Service</strong>
					<li>Basic Service Plus
						<ul>
							<li>Check and top off all fluids</li>
							<li>Check Drive system</li>
							<li>Check Differential and top off</li>
							<li>Wash machine and undercarriage</li>
							<li>Grease all Zerk Fittings</li>
							<li>Check Headlights and Tailights for proper operation</li>
						</ul>
					</li>


				</ul>
			</div>
		</div>

		<br />

		<div class="row booyah-box col-xs-10 col-xs-offset-1">
			<div  class="col-xs-12 col-sm-6">
				<img class="img-responsive" src="assets/images/servicerzr.jpg">
			</div>
			<div class="col-xs-12 col-sm-6">
				<h2> UTV Services </h2>
				<ul><strong>Basic Service</strong>
					<li>Oil Change with new filter</li>
					<li>Air Filter Cleaning , Replaced if needed</li>
					<li>Chain Lube</li>
				</ul>

				<ul><strong>Full Service</strong>
					<li>Basic Service Plus
						<ul>
							<li>Check and top off all fluids</li>
							<li>Check Drive system</li>
							<li>Check Differential and top off</li>
							<li>Wash machine and undercarriage</li>
							<li>Grease all Zerk Fittings</li>
							<li>Check Headlights and Tailights for proper operation</li>
						</ul>
					</li>


				</ul>
			</div>
		</div>

		<br />

		<div class="row booyah-box col-xs-10 col-xs-offset-1">
			<div  class="col-xs-12 col-sm-6">
				<img class="img-responsive" src="assets/images/engine_build.jpg">
			</div>
			<div class="col-xs-12 col-sm-6">
				<h2> Engine Building </h2>
				<ul>
					<li>In house porting and polishing</li>
					<li>Complete Overhauls</li>
					<li>Valve replacement and upgrade</li>
					<li>Boring</li>
					<li>Sleeving</li>
					<li>Custom case work, Treanching and clearancing</li>
					<li>Custom cam degreeing</li>
					<li>Big Bore / Strokers</li>
					<li>Decking / Milling</li>
					<li>High Volume Porting (4 sroke new technology)</li>
				</ul>
			</div>
		</div>
</div>
