<h1>Gallery</h1>
<% @photos.each do |photo| %>
  <div>
    <h1><%= photo.name %></h1><br />
    <%= image_tag photo.picture %>
    <p><%= photo.description %></p><br />
    <h1><%= link_to photo.name, photo_path(photo) %></h1><br />
  </div>

  <hr />
<% end %>
